.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.nav__brand {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 2.5rem;
}

.nav__list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav__item {
    margin-bottom: 0;
}

.nav__link {
    color: #0E2431;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    transition: 0.3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.resume-button {
    background-color: var(--first-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: var(--first-color);
}

.nav__toggle {
    color: #0E2431;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav {
        height: 3.5rem;
    }

    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }

    .nav__menu.show {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        margin-bottom: 1rem;
    }

    .nav__link {
        color: var(--first-color);
    }

    .nav__toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media screen and (min-width: 769px) {
    .nav {
        height: calc(3rem + 1.5rem);
    }

    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        text-transform: initial;
    }
}
