.work__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 800px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}

.work__item {
    text-align: center;
    padding: 1rem;
    border: 1px solid #e0e0e0; /* Optional: Add a border */
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, .15);
    width: 100%; /* Full width of the grid cell */
    height: 0; /* Set height to 0 to use padding for aspect ratio */
    padding-bottom: 100%; /* This creates a square aspect ratio */
    position: relative; /* Positioning for absolute children */
}

.work__item img {
    max-width: 20%;
    height: auto;
    margin-bottom: 1rem;
    position: absolute; /* Positioning the icon/image */
    top: 10%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the icon/image */
}

@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .work__container {
        grid-template-columns: 1fr;
    }
}
